.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    top: 90%;
    font-size: 33px;
    font-weight: 100;
    cursor: pointer;
}
.swiper-button-prev{
    left: 69px;
    @media screen and (min-width:1280px) {
        left: 220px;
    }
}
.swiper-button-next {
    right: 69px;
    @media screen and (min-width:1280px) {right: 220px;}
}

/* .swiper-slide-active {
    transform: scale(1);
} */

.swiper-slide-active {
    min-width: 440px;
    height: 100%;
    position: relative;
    top: 0;
    right: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    @media screen and (min-width:1280px){
        min-width: 640px;
    }
}
.swiper-slide-inactive{
    max-width: 130px;
}
   