@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text);
  background-color: #131313;
}

.container-main {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 24px;
  }
}
.section-main {
  padding: 55px 0;
  @media screen and (min-width: 768px) {
    padding: 64px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 104px 80px;
  }
}

.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
.checked {
  background-color: black;
  position: relative;
}
input.checked::before {
  content: "\25A0";
  font-size: 22px;
  color: #fff;
  position: absolute;
  right: 2.5px;
  top: -8px;
  @media screen and (min-width:1280px){
    font-size: 25px;
    top: -10px;
  }
}
.join-button {
  height: 50px;
  background-image: url("/icons/mobile2.svg"), url("/icons/mobile1.svg");
  background-size: 15% 100%, 15% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  color: white;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    background-image: url("/icons/tablet1.svg"), url("/icons/tablet2.svg");
    background-size: 17% 100%, 17% 100%;
  }
  @media screen and (min-width: 1280px) {
    background-size: 14% 100px, 14% 100%;
      font-size: 26px;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #90EE90;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #32CD32;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #98FB98;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}