@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text);
  background-color: darkgray;
}

.container-main {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 24px;
  }
}
.section-main {
  padding: 55px 0;
  @media screen and (min-width: 768px) {
    padding: 64px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 104px 80px;
  }
}

.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
.checked {
  background-color: black;
  position: relative;
}
input.checked::before {
  content: "\25A0";
  font-size: 31px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -16.5px;
}
.join-button {
  height: 50px;
  background-image: url("/icons/mobile2.svg"), url("/icons/mobile1.svg");
  background-size: 15% 100%, 15% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  color: white;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    background-image: url("/icons/tablet1.svg"), url("/icons/tablet2.svg");
    background-size: 17% 100%, 17% 100%;
  }
  @media screen and (min-width: 1280px) {
    background-size: 14% 100px, 14% 100%;
      font-size: 26px;
  }
}
